.pokemonPage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fullPokemonInfo{
    text-align: left;
}

.pokemonInfo div{
    margin-bottom: 1rem;
}

.attacksDescription{
    margin: 2rem; 
}

.mainInfo{
    border-bottom: 0.1rem solid #DBDBDB;
    padding-bottom: 2rem;
    margin-top: 2rem;
}

.extraInfo{
    padding-top: 2rem;
}

@media (max-width: 767px) {
    .attacksDescription{
        text-align: center;
    }
}